<h1>New Game</h1>
<div class="container">
  <div class="row" id="letters">
    <% @letters.each do |letter| %>
      <div class="d-flex align-items-center"><div class="col-sm" style="margin: 8px; padding; 8px;"> <%= letter %> </div></div>
    <% end %>
  </div>
</div>

    <label for="word" class="mr-2">What is the longest word you can find?</label>
<form class="form-inline" action="/score">
  <%= hidden_field_tag 'letters', @letters %>
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" name="word" placeholder="Your word">
    <button type="submit" class="btn btn-primary input-group-append">Submit</button>
  </div>
</form>
