<p>Build the longest word possible with the following letters</p>
<div class="container">
  <div class="row" id="letters">
    <% @letters.each do |letter| %>
      <div class="d-flex align-items-center"><div class="col-sm" style="margin: 8px; padding; 8px;"> <%= letter %> </div></div>
    <% end %>
  </div>
</div>

<form class="form-inline" action="/score">
  <%= hidden_field_tag 'letters', @letters %>
  <label class="sr-only" for="word">Word</label>
  <input type="text" class="form-control mb-2 mr-sm-2" name="word" placeholder="Your word">

  <button type="submit" class="btn btn-primary mb-2" href="">Submit</button>
</form>
